.product-card {
  width: 270px;
  height: 270px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
  margin: 60px;
}

.product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/FondoCardProducto.svg');
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 270px;
  height: 270px;

}

.image-container {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.product-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.placeholder {
  color: #6a7562;
  font-size: 14px;
  font-style: italic;
}

.info {
  position: absolute;
  top: 40px;
  right: 50px;
  text-align: right;
  color: #f0ecb9;
  text-shadow: 13px 0px 16px rgba(87, 85, 64, 0.603);
  text-shadow: inset 13px 0px 16px rgba(214, 210, 155, 0.26);
  z-index: 110;
}

.info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  z-index: 110;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
  z-index: 110;
}