.botonstyle1 {
  background-color:#7B8C69; 
  width: 200px;
height: 59px;
  color: #EEE0B2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 128px;
  font-family: "Georgia";
 
  border: 7px inset solid #60714D;
}
.botonstyle1:hover {
  background-color:#322C26; 
}

.botonstyle2 {
  background-color:#D4C9A5; 
  color: #5A6648;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 128px;
  font-family: "Georgia";
  border: 7px outset solid #F2CCA7;
}

.botonstyle2:hover {
  background-color:#322C26; 
  color: #EEE0B2;
}


.product-detail-container {
  padding: 50px;
  text-align: center;
  color: #322C26;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.container-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.container-detail {
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 18px;
  width: 50%;
}