#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@font-face {
  font-family: 'MerloRakasha';
  src: url('/fonts/MerloRakasha.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuencyDemo';
  src: url('/fonts/QuencyDemo.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cart-icon {
  width: 30px;
  height: auto;
  cursor: pointer;
}